@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Prise en compte de la demande";
}

<h1>@ViewData["Title"]</h1>
 @if (Request.Host.Value.StartsWith("localhost"))
{
    <p>
        Please check your email to reset your password.
    </p>
}