@page
@model LockoutModel
@{
    ViewData["Title"] = "Compte verrouillé";
}

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Compte verouillé.</p>
    </header>
