@page
@model Even.Areas.Identity.Pages.Account.RegisterBaseContactModel
@{
    ViewData["Title"] = "S'enregistrer dans la base de contact du domaine zzhr.fr";
}

<h1>@ViewData["Title"]</h1>


<h2 id="external-login-title">Prérequis à votre enregistrement</h2>
<hr />
<p id="external-login-description" class="text-valid">
    L'adresse @{
        if (TempData.Peek("MailForBaseContact") != null)
        {
            @TempData.Peek("MailForBaseContact")
        }
    } n'est pas encore connue du domaine zzhr.fr <br />
    Afin d'accéder à l'ensemble des applications et services des sites du domaine 'zzhr.fr' une inscription à la base de contact de domaine est préalablement nécessaire.<br />Souhaitez - vous que votre adresse soit ajoutée à la base de contact de zzhr.fr
    <br />
 <form asp-page-handler="Confirmation" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" hidden/>
            <!--<label asp-for="Input.Email" class="form-label"></label>-->
            <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
        <button type="submit" class="btn btn-lg btn-primary">Oui, ajouter mon adresse à la base de contact</button>
  
</form>
</p>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}