@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p> Votre compte contient des données personnelles. 
        Cette page permet de télécharger ces données ou bien de les supprimer.

            </p>
        <p>
            <strong>La suppression est définitive.</strong>
        </p>
        <p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
        <p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Supprimer</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
