@page
@model IndexModel
@{
    ViewData["Title"] = "Application Gestionnaire";
}

<div class="text-center">
    <h1 class="display-4">Application de démonstration</h1>
    <p>Cette application est une application web .NET core conteneurisée.</p>
</div>
